body{
    font-family: Arial, sans-serif;
      margin: 0;
      padding: 0%;
}

/*Navigation*/
nav{
    background: #222;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Hero section*/
.hero{
    background-image: url(img/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text h1{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
}

/* Repeating background section*/
.bg-repeat{
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    padding: 30px;
    text-align: center;
    color: #333;
}
/*Picture gallery*/
.gallery{
    text-align: center;
    padding: 20px;
}
.gallery img{
    width: 150px;
    margin: 10px;
    border: 2px solid #aaa;
}

/*Favorite section*/
.favorites{
    text-align: center;
    padding: 30px;
}

/*Map-linked section*/
section[id] {
    padding:30px;
    margin: 10px 0;
     background: #f9f9f9;
